// Color Definitions
$pink : #FF4081;
$green: #009688;
$self_message: rgba(255, 0, 0, 0.5);
$other_message: rgba(0, 0, 0, 0.2);


html, body{
  margin: 0;
  padding: 0;
  background-color: #009688;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button{
  cursor: pointer;
}

.chattr{
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  display: flex;
  box-sizing: border-box;
  width: 100%;

  input[type='text'], button{
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    flex-basis: 100%;
    width: 100%;
    outline: none;
    border: none;
    flex-grow: 1;
  }
  button{
    color: white;
    background-color: $pink;

  }
}
.chatViewer{
  background-color: white;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  font-size: 1.2em;

  .chatItem{
    padding: 5px;
    box-sizing: border-box;
    background-color: $other_message;
    margin: 5px;
    box-sizing: border-box;
  }

  .chatItem.own_message{
    background-color: $self_message;
  }
}



#chatbox{
  display: block;
  width:  100%;
  height: 15vh;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  resize: none;
  font-size: 1.2em;
  padding: 8px;
  outline: none;
}



#chatboxSend{
  color: white;
  background-color: $pink;
  width: 100%;
  font-size: 1.2em;
  border: none;
  border-radius: 2px;
  padding: 8px;
  outline: none;
}
