// Color Definitions
$pink : #FF4081;
$green: #009688;
$self_message: #3F51B5;
$other_message: #607D8B;
$message_color: white;
$user_hover_color: #3F51B5;

html, body{
  margin: 0;
  padding: 0;
  background-color: #009688;
  height: 100%;
  font-family: Arial;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button{
  cursor: pointer;
}

.userList{
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 2px 2px rgba( 0 , 0 , 0 , 0.2 );

  .userList__header{
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
    background-color: $pink;
    color: white;
  }

  .user{
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px dashed #aaa;
    &:hover{
      background: $user_hover_color;
      color: white;
    }
  }

}

.wrapper{
  width: calc(100% - 260px);
}

.userList, .wrapper{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.chattr{
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  display: flex;
  box-sizing: border-box;
  width: 100%;

  input[type='text'], button{
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    flex-basis: 100%;
    width: 100%;
    outline: none;
    border: none;
    flex-grow: 1;
  }
  button{
    color: white;
    background-color: $pink;

  }
}
.chatViewer{
  background-color: white;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  font-size: 1.2em;

  .chatItem{
    padding: 5px;
    box-sizing: border-box;
    background-color: $other_message;
    margin: 5px;
    box-sizing: border-box;
    color: $message_color;
    font-size: 0.8em;
    letter-spacing: 1px;

    .chatItem__header{
      font-size: 1.25em;
      padding: 5px 0;

    }

    .chatItem__message{

    }

  }

  .chatItem.own_message{
    background-color: $self_message;
  }
}



#chatbox{
  display: block;
  width:  100%;
  height: 15vh;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  resize: none;
  font-size: 1.2em;
  padding: 8px;
  outline: none;
}



#chatboxSend{
  color: white;
  background-color: $pink;
  width: 100%;
  font-size: 1.2em;
  border: none;
  border-radius: 2px;
  padding: 8px;
  outline: none;
}


@media screen and (max-width: 800px){
  .userList{
    position: absolute;
    left: -100%;
  }
  .wrapper{
    width: 100%;
  }
}
